@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'myFont';
    src: url(../Fonts/YekanBakh-VF.woff2) format('woff');
  }
  @font-face {
    font-family: 'shabnam';
    src: url('../Fonts/Shabnam-font-v2.4.0/Shabnam.woff2') format('woff');

    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'shabnam-bold';
    src: url('../Fonts/Shabnam-font-v2.4.0/Shabnam-Bold.woff2') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'samim';
    src: url('../Fonts/otherfonts/samim-font-v2.0.1/Samim.woff2') format('woff');
  }
  @font-face {
    font-family: 'yazid-bold';
    src: url('../Fonts/otherfonts/vazir-font-v18.0.0/Vazir-Bold.woff2') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'nastalig';
    src: url('../Fonts/IranNastaliq\ Web.woff2') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'outline';
    src: url('../Fonts/DimaYekanOutline-\(www.FarsGraphic.com\)-7s.woff2') format('woff');
    font-weight: bold;
  }
/* add font  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* loader  */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(20, 24, 42) ;
    z-index: 999;
  }


  /* start style  */
  .conteiner{
    width: 100%;
  }
body {
    font-family: "myFont";
    min-height: 100vh;
    background: url(../Images/backgrond/3460082.jpg) no-repeat center center/cover;
}



/* navbar  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky ;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index:999 ;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    cursor: pointer;
    animation: animated-text 3s linear infinite;
    align-items: center;
    justify-content: center;
    
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover ,
.navbar-container .navbar-menu li a.active {
    color: #162530;
    background: rgb(252, 193, 0);
    border: 2px solid #fff;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.ali{
    padding-top: 100px;
    background-color: #00ff99;
    background: transparent;

}








 /* start content  */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.first-music-c{
    margin-top: 3rem;
    /* send to middle  */
    display: flex;
    gap: 5rem;

    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.first-music-c img{
    width: 15rem;
    
}
.property-f-Music{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    
    
}
.property-f-Music h1{
    font-family: "nastalig";
    text-align: right;
font-size: 50px;
font-weight: 700;
color: #f7f7f7;
margin-bottom: -10px;
}
.property-f-Music p{
    font-family: 'samim';
    font-size: 25px;
    font-weight: 500;
    color: #635a5a;
    
}
.btn-music{
    margin-top: 2rem;
}
.Play{
    font-family: "outline";
    border: none;
    padding: 2px 20px;
    border-radius: 17px;
    cursor: pointer;
    font-size: 40px;
    color:  rgb(252, 193, 0) ;
    /* font-weight: ; */
    background-color: #636060;
}

.Play img{
width: 4rem;
}

 /* top 5 */
 .top5Musics{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    /* gap: 1rem; */
 }

.top5Musics h2{
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        animation: animated-text 5s linear infinite;
}
.topMusic{
    font-family: 'samim';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.topMusic:hover h3
,.topMusic.active h3{
color: #ff4545;    
}
.topMusic:hover .p,
.topMusic.active .p{
    color: rgb(252, 193, 0) ;    
}

.gifplay{
        background-color: #ff4545;
        height: 70px;
        width: 100px;
        margin: auto 0px;
}
.propertyTopMusic{
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    gap: 15px;
}
.poster-property{
    display: flex;
    gap: 30px;
}
.topMusic h3{
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.topMusic p{
    margin: auto 0px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    
}
.propertyTopMusic .p{
    color: #635a5a;
    font-weight: 800;
}
.num{
    font-size: 100px;
    font-weight: 700;
    color: #fff; 
    margin-top: auto;
    margin-bottom: auto;
}

.playimg{
    width: 70px !important;
    height: 70px !important;
}
.playimg:hover{
    opacity: 0;
    
}
.play:hover{
    background-color: #101257 !important;
}
.top5MisicsContainer{

}
.top5MisicsContainerR{
    width: 50%;
}

































































/* Responsive Styles */
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }
.navbar-container .navbar-menu li a{
    font-size: 1.2rem;
}
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
        transition: 3s;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .first-music-c img {
        width: 10rem;
        height: 10rem;
    }
    .property-f-Music h1{
        text-align: right;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    }
    .property-f-Music p{
        font-size: 20px;
        font-weight: 500;
    
        
    }
    .Play{
        margin-top: 2rem;
        cursor: pointer;
    }
    .Play img{
    width: 3rem;
    height: 3rem;
    }
    .fr{
        flex-direction: column !important;
    }
    
    .top5MisicsContainerR{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar-container  .navbar-menu{
        padding: 6rem 1rem;
        width: 150px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        
        top: 0;
        right: 0;
        
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active {
        display: flex;
        transition: 3s;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1rem;
        padding: 3px 15px;
    }


    .first-music-c{
        margin-top: 3rem;
        /* send to middle  */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .first-music-c img {

        margin-left: auto;
        margin-right: auto;
        width: 10rem;
        height: 10rem;
    }
    .property-f-Music h1{
        text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    }
    .property-f-Music p{
        text-align: center;
        font-size: 20px;
        font-weight: 500;
     
        
    }
    .btn-music{
       margin-left: auto;
       margin-right: auto;
        cursor: pointer;
    }
    .Play img{
    width: 3rem;
    height: 3rem;
    }
    .top5Musics h2{
        font-size: xx-large;
        margin: 0px auto;
    }
    .topMusic{
        flex-direction: column;
    }
    .topMusic .poster-property{
        flex-direction: column;
        margin:  0px auto;
    }
    .propertyTopMusic{
        flex-direction: row;
    }
    .gifplay{
        margin: auto auto;
    }
    .propertyTopMusic h3{
        font-size: 30px;
    }
    .propertyTopMusic .p{
        margin-top: auto;
        margin-bottom: 3px;
        font-size: medium;
    }
    .ali{
        padding-top: 170px !important;
        background-color: #00ff99;
        background: transparent;
    
    }
}
/* glowing logo or text  */
@keyframes animated-text {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: 0 0 10px rgba(252, 194, 2, 0.5),
            0 0 20px rgb(252, 193, 0.5),
            0 0 40px rgb(252, 193, 0.5);
    }
    100% {
        text-shadow: none;
    }
}

/* animated boder  */
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 80vw;
    height: 250px;
    width: 350px;
    background: #101257;
    padding: 20px;
    border-radius: 3px;
}

.card h2 {
    color: #ececec;
    font-size: clamp(1.5rem, 4vw, 2rem);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), #ff4545,
            #00ff99, #006aff, #ff0095, #ff4545);
    z-index: -1;
    padding: 3px;
    border-radius: 5px;
    animation: spin 3s linear infinite;
}

.card::after {
    filter: blur(1.5rem);
    opacity: 0.5;
    animation: spin 3s linear infinite, blur-effect 3s linear infinite;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@keyframes blur-effect {
    from {
        filter: blur(1.5rem);
    }

    to {
        filter: blur(1.4rem);
    }
}

@media (max-width: 768px) {
    .card {
        width: 90vw;
        height: auto;
    }
}












/* ready to use  */
.fr{
    display: flex;
    flex-direction: row;

}
.fc{
    display: flex;
    flex-direction: column;
}
.middle{
    margin: auto 0px;
}
.center{
    margin: 0px auto;
}
.f-b{
    justify-content: space-between;
}
.f-a{
    justify-content: space-around;
}
